/* Topbar */
.topbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px;
}

.topbar label {
  margin-right: 10px;
}

.topbar select {
  padding: 5px;
  border-radius: 5px;
  border: none;
  outline: none;
}

/* Login Button */
.login {
  margin-top: auto;
  padding: 10px;
  background: var(--orange);
  border-radius: 8px;
  text-align: center;
  cursor: pointer;
  color: white;
  font-weight: bold;
}

.login:hover {
  opacity: 0.8;
}
